* {margin:0;padding:0;cursor:none}

body {background-color:black;}

canvas {display:block;background-color:black;left:50%;top:50%;position:absolute;image-rendering:pixelated;overflow:hidden;width:320px;display:none;}